<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExactOnline.Client.Sdk" version="1.0.2" targetFramework="net45" />
  <package id="Nemiro.OAuth" version="1.12" targetFramework="net45" />
  <package id="Nemiro.OAuth.LoginForms" version="1.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
</packages>